<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.saucedemo.listeners.TestNGListener" />
		<listener class-name="com.saucedemo.listeners.RetryListener" />
	</listeners>
	<!-- Chrome Test Start -->
	<test thread-count="5" name="ChromeTest">
		<parameter name="browser" value="Chrome"></parameter>
		<classes>
			<class name="com.saucedemo.scripts.LoginPageTest" />
			<class name="com.saucedemo.scripts.HomePageTest" />
			<class name="com.saucedemo.scripts.CartPageTest" />
			<class name="com.saucedemo.scripts.CheckoutPageTest1" />
			<class name="com.saucedemo.scripts.CheckoutPageTest2" />
			<class name="com.saucedemo.scripts.CheckoutCompletePageTest" />
		</classes>
	</test> <!-- Test -->
	<!-- Chrome Test End -->

</suite> <!-- Suite -->
